<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Automation Suite" parallel="tests" thread-count="2">
    <listeners>
        <listener class-name="com.framework.tests.listeners.AllureListener"/>
    </listeners>
    <test name="Login test with wrong email and password">
        <classes>
            <class name="com.framework.tests.ui.LoginTest"/>
        </classes>
    </test>

</suite>
